<div class="container" align="center">
<div class="jumbotron">
<br>
  <h1>Setup</h1>
  <br>
  <p>Setup your devices to the cloud</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Start</a></p>
  <br>
</div>
</div>
